@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Properties------------------------------------------------------------------ */

  :root {
    /*font family*/
    --ff-body: 'Markazi Text', serif;
    --ff-btn: 'Bodoni Moda', serif;
    --ff-krn: 'Noto Sans KR', sans-serif;
    /*font weight*/
    --fw-reg: 400;
    --fw-bold: 700;
    /*colour*/
    --clr-light: #fff;
    --clr-neutral: #505050;
    --clr-dark: #303030;
    --clr-accent: #ff0000;
    /*font size*/
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-body: 1.25rem;
  }

/* General Styles--------------------------------------------------------------------- */

  @keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    /* Locks height of page and content to prevent 
    page from extending past 100vh */
    height: 100%;
    overflow: hidden;
    /* Typography */
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  section {
    height: 100vh;
    align-items: center;
    /* Image Settings */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
  }

  button:hover, button:focus{
    outline:none;
  }

  h1 {
    font-size: var(--fs-h2);
  }

  .korean {
    font-family: var(--ff-krn);
    font-size: 0.9rem;
  }

  /* Spaces in-between paragraph blocks */
  .space {
    padding-top: 3rem;
  }

  /* Split Screen Styling */
  .split {
    /* If split class covers another element, add 
    higher z-index to the element to change priority. */
    z-index: 1;
    height: 100%;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    /* Hide scrollbar for IE/Edge and Firefox, respectively */
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .split::-webkit-scrollbar {
    display: none;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .strip {
    height: 100vh;
  }

  .animated { 
    animation: fadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

/* General Components----------------------------------------------------------------- */

  /* Navbar */
  .navbar {
    /* To prevent split class from 
    covering navbar functionalities */
    z-index: 100;
    position: fixed;
    top: 2.5rem;
    right: 3rem;
  }

  .nav-toggle {
    color: var(--clr-neutral);
    font-size: 2rem;
    padding: 1rem;
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  .navbar-link {
    font-family: var(--ff-btn);
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .navbar-link a{
    color: var(--clr-neutral);
    text-decoration: none;
  }

  .navbar-link a:hover{
    /* To create an underline with customizeable thickness */
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* each shadow with above settings separated by commas (1 comma = 2 shadows)*/
    box-shadow: inset 0 0px 0 transparent, inset 0 -1px 0 black
  }


  /* Rectangular border frame in background */
  .section-border-top {
    z-index: 100;
    position: fixed;
    left: 1.5rem;
    top: 1.5rem;
    width: calc(100% - 3rem);
    border-bottom: 2px solid #000;
  }

  .section-border-right {
    z-index: 100;
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    height: calc(100% - 3rem);
    border-right: 2px solid #000;
  }

  .section-border-left {
    z-index: 100;
    position: fixed;
    left: 1.5rem;
    top: 1.5rem;
    height: calc(100% - 3rem);
    border-left: 2px solid #000;
  }

  .section-border-bottom {
    z-index: 100;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: calc(100% - 3rem);
    border-bottom: 2px solid #000;
  }

  /* Scroll Content */
  .content-scroll {
    width: 90%;
    height: 550px;
    margin: auto auto auto 1rem;
    overflow: auto;
    /* Hide scrollbar for IE/Edge and Firefox, respectively */
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .content-scroll::-webkit-scrollbar {
    display: none;
  }

  .content-scroll-arrow {
    color: var(--clr-dark);
    text-align: center;
  }

  /* Modal Content */
  .modal-background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) );
    z-index: 999;
  }

  .modal {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    width: 70%;
    height:85%;
  }

  .close-modal-button {
    color: #fff;
    font-size: var(--fs-body);
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1001;
  }

  .modal.mobile {
    height: 75%;
    /* Hide scrollbar for IE/Edge and Firefox, respectively */
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  .modal.mobile::-webkit-scrollbar {
    display: none;
  }

  .modal-content {
    color: #fff;
    text-align: center;
  }

  .modal-content.mobile {
    width: 100%;
  }

  .modal_img {
    width: 85%;
    overflow: hidden;
  }

/* Home Screen----------------------------------------------------------------------- */

/* About Screen---------------------------------------------------------------------- */

  .about {
    display: flex;
    justify-content: flex-start;
  }

/* Skills Screen--------------------------------------------------------------------- */

  .skills {
    display: flex;
    justify-content: flex-end;
  }

  .skills .content-scroll .skill-list {
    display: flex;
    flex-direction: row;
    text-align: right;
  }

/* My Work Screen--------------------------------------------------------------------- */

  .mywork {
    display: flex;
    justify-content: flex-end;
  }

  .mywork .content-scroll.project-list{
    z-index: 100;
    width: 23%;
    height: 100%;
    transform: translateX(240%);
    text-align: center;
  }

  .thumbnail_img {
    width: 90%;
    transition: transform 100ms cubic-bezier(.5, 0, .5, 1),
      opacity 250ms linear;
    cursor: pointer;
  }

  .thumbnail_img.mobile:hover {
    transform: none;
  }

  .thumbnail_img:hover{
    transform: scale(1.15);
  }

  .project_img, .project_video {
    width: 100%;
    cursor: pointer;
  }

  .project_video:hover, .project_video:focus {
    outline: none;
  }

/* Contact Screen--------------------------------------------------------------------- */

  .contact-link {
    font-size: 3rem;
    text-decoration: none;
    color: var(--clr-dark);
    padding: 25vh 5vw;
  }

  .contact-link:hover {
    color: var(--clr-accent);
  }

  .contact .modal-content.mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .contact .mobile {
    color: var(--clr-light);
    padding: 15vh 5vw;
  }

/* Screen Optimization---------------------------------------------------------------- */

@media (max-width: 1919px ) {
  .split, .side.strip{
    display: none;
  }

  .centered.strip {
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .navbar {
    display: none;
  }

  .centered.strip {
    width: 100%;
  }
}