@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Properties */

  :root {
    /*font family*/
    --ff-body: 'Markazi Text', serif;
    --ff-btn: 'Bodoni Moda', serif;
    /*font weight*/
    --fw-reg: 400;
    --fw-bold: 700;
    /*colour*/
    --clr-light: #fff;
    --clr-neutral: #606060;
    --clr-dark: #303030;
    --clr-accent: #ff0000;
    /*font size*/
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-body: 1.25rem;
  }

/* General Styles */

  body {
    /* Locks height of page and content to prevent 
    page from extending past 100vh */
    height: 100%;
    overflow: hidden;
    margin: 0;
    /* Typography */
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Image Settings */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
  }

  h1 {
    font-size: var(--fs-h2);
  }

  /* Spaces in between paragraph blocks */
  .space {
    padding-top: 3rem;
  }

/* General Components */

  /* Navbar */
  .navbar {
    /* To prevent split class from 
    covering navbar functionalities */
    z-index: 100;
    position: fixed;
    top: 2.5rem;
    right: 3rem;
  }

  .navbar-link {
    font-family: var(--ff-btn);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .navbar-link a{
    color: var(--clr-neutral);
    text-decoration: none;
  }

  .navbar-link a:hover{
    /* To create an underline with customizeable thickness */
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* each shadow with above settings separated by commas (1 comma = 2 shadows)*/
    box-shadow: inset 0 0px 0 transparent, inset 0 -1px 0 black
  }


  /* Rectangular border frame in background */
  .section-border {
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    border: 2px solid #000;
  }

  /* Split Screen Styling */
  .split {
    /* If split class covers another element, add 
    higher z-index to the element to change priority. */
    z-index: 1;
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Scrollable content */
    .content-scroll {
      width: 90%;
      height: 550px;
      margin: auto auto auto 1rem;
      overflow: auto;
      /* Hide scrollbar for IE/Edge and Firefox, respectively */
      -ms-overflow-style: none;
      scrollbar-width: none;
      scroll-behavior: smooth;
    }
    .content-scroll-arrow {
      color: var(--clr-dark);
      text-align: center;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .content-scroll::-webkit-scrollbar {
      display: none;
    }

/* Home Screen */

  .home {
    background-image: url(backgroundimg/home.jpg);
  }

/* About Screen */

  .about {
    background-image: url(backgroundimg/about.jpg);
  }

/* Skills Screen */

  .skills {
    background-image: url(backgroundimg/skills.jpg);
  }

/* My Work Screen */

  .mywork {
    background-image: url(backgroundimg/mywork.jpg);
  }

/* Contact Screen */

  .contact {
    background-image: url(backgroundimg/contact.jpg);
  }
